node_modules/
dist/
.env
.env.*
.DS_Store
Thumbs.db
*.log
*.zip
pnpm-lock.yaml
pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
focustube_icons/
focus-tube-settings.json
focus-tube-metrics.json
*.sqlite
*.sqlite-wal
*.sqlite-shm
*.db
*.db-wal
*.db-shm
*.sql
*.dump
*.bak
*.csv
